body {
	background-color: gray
}
h1 {
	color: black;
	font size:20px; 
	font-style: helvetica;
}

div style {
	"background-color:black;
	 color: white; margin:20px;
	 padding:20px;"
}

#author{
	width:30%;
	height:auto;


